:root {
  --primary-color: #edf2fc;
  --secondary-color: #212121;
  --orange-color: #ff4321;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

/* <!---------------------------------------- Menu / Header ----------------------------------------> */
.container {
  height: 100vh;
  background: var(--primary-color);
}

header {
  /* background: yellow; */
  margin: auto;
  background: #000;
}

.nav-menu {
  /* background: yellowgreen; */
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 85%;
  margin: auto;
  padding: 30px 0 20px;
}

nav ul {
  list-style: none;
}

nav ul li {
  display: inline-block;
  margin-right: 20px;
  text-align: center;
}

.nav-menu .name a,
nav ul li a,
.hero-btn {
  text-decoration: none;
}

.nav-menu .name a {
  color: var(--orange-color);
  font-size: 20px;
}

.f-name {
  color: #fff;
}

nav ul li a {
  color: #fff;
  font-size: 16px;
  font-weight: 400;
  transition: 0.5s;
}

nav ul li a:hover {
  /* color: var(--orange-color); */
  background: var(--orange-color);
  padding: 5px 16px;
  color: #fff;
  border-radius: 30px;
}

.hero-btn {
  color: #fff;
  background: transparent;
  border: 1px solid var(--orange-color);
  padding: 5px 10px;
  border-radius: 8px;
  transition: 0.5s;
}

.hero-btn:hover {
  background: var(--orange-color);
  color: #fff;
}

.fa-circle-down {
  transition: 0.5s;
}

.hero-btn:hover .fa-circle-down {
  transform: translateY(3px);
}

/* <!---------------------------------------- Main section ----------------------------------------> */
main {
  margin: 100px auto 80px;
  /* background: yellow; */
  position: relative;
}

.small-header {
  width: 90%;
  margin: auto;
  padding: 20px 16px;
  position: relative;
}

.row {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;
}

.col-2 {
  min-width: 300px;
  flex-basis: 40%;
}

.hero-image {
  margin: auto;
}

.col-2 h1 {
  font-size: 42px;
  margin: 20px 0;
}

.col-2 p {
  margin: 40px 0;
}

.hero-l-name {
  color: var(--orange-color);
}

.black-color {
  color: #fff;
  background: #000;
  border: none;
}

.hire-me {
  margin: 10px 0 30px;
}

.col-2 img {
  width: 350px;
  transition: 0.5s;
}

.col-2 img:hover {
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.4);
}

.profession {
  font-size: 24px;
  font-weight: 500;
  margin-bottom: 30px;
}

.profession span {
  color: var(--orange-color);
}


/*------------------------------------------- Social Media Links -------------------------------------------*/
.social-media-link {
    margin-top: -70px;
    margin-left: -10px;
}

.social-media-link ul li a {
  text-decoration: none;
  color: #cd201f;
}

.wrapper {
  display: inline-flex;
  list-style: none;
}

.wrapper .icon {
  position: relative;
  background: var(--primary-color);
  border-radius: 50%;
  padding: 15px;
  margin: 10px;
  width: 50px;
  height: 50px;
  font-size: 18px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color: var(--orange-color);
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  transition: all 0.2s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.wrapper .tooltip {
  position: absolute;
  top: 0;
  font-size: 14px;
  background: var(--primary-color);
  color: var(--primary-color);
  padding: 5px 8px;
  border-radius: 5px;
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
  opacity: 0;
  pointer-events: none;
  transition: all 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.wrapper .tooltip::before {
  position: absolute;
  content: "";
  height: 8px;
  width: 8px;
  background: var(--primary-color);
  bottom: -3px;
  left: 50%;
  transform: translate(-50%) rotate(45deg);
  transition: all 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.wrapper .icon:hover .tooltip {
  top: -45px;
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
}

.wrapper .icon:hover span,
.wrapper .icon:hover .tooltip {
  text-shadow: 0px -1px 0px rgba(0, 0, 0, 0.1);
}

.wrapper .facebook:hover,
.wrapper .facebook:hover .tooltip,
.wrapper .facebook:hover .tooltip::before {
  background: #1877f2;
  color: var(--primary-color);
}

.wrapper .linkedIn:hover,
.wrapper .linkedIn:hover .tooltip,
.wrapper .linkedIn:hover .tooltip::before {
  background: #1da1f2;
  color: var(--primary-color);
}

.wrapper .instagram:hover,
.wrapper .instagram:hover .tooltip,
.wrapper .instagram:hover .tooltip::before {
  background: #e4405f;
  color: var(--primary-color);
}

.wrapper .github:hover,
.wrapper .github:hover .tooltip,
.wrapper .github:hover .tooltip::before {
  background: #333333;
  color: var(--primary-color);
}

.wrapper .youtube:hover,
.wrapper .youtube:hover .tooltip,
.wrapper .youtube:hover .tooltip::before {
  background: #cd201f;
  color: var(--primary-color);
}
